{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "58",
          "ie": "11"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-async-to-generator",
    ["transform-react-jsx", { "pragma": "h" }]
  ]
}
